<div *ngIf="btcUsd; else spinner" class="flex center">
    <div class="container_chart flex-row center">
        <app-chart [labels]="times" [dataset]="prices"></app-chart>
    </div>
    <div class="container_data flex-row center">
        <div class='container_indicators flex-row center'>
            <div class="title">BTCUSD</div>
            <div class="price">${{btcUsd.price}}</div>
            <div [ngClass]="{delta: true, up: btcUsd.delta > 0, down: btcUsd.delta < 0}">{{btcUsd.delta}}%</div>
        </div>
        <div class="container_raw_data ">
            <pre>{{ rawData | json }}</pre>
        </div>
    </div>
</div>

<ng-template #spinner>
    <div class="container_spinner flex-row h-100 center">
        Data Loading...
    </div>
</ng-template>